.float-left{
    float: left;
}

.float-right{
    float: right;
}

.ui-select-common{
    width: 127px;
    padding: 5px;
}

.ui-select-input{
    max-height: 34px !important;
}

.ui-select-input > div{
    max-height: 30px !important;
    overflow-y: auto;
}

.m-15{
    margin: 15px;
}

.p-8{
    padding: 8px !important;
}

.p-10{
    padding: 10px !important;
}

.p-30{
    padding: 30px !important;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-7{
    margin-top: 7px;
}

.w-25p{
    width: 25% !important;
}

.w-20p{
    width: 20% !important;
}

.m-26{
    margin: 26px;
}

.p-t-10{
    padding-top: 10px;
}

.m-t-10{
    margin-top: 10px !important;
}

.m-t-30{
    margin-top: 30px !important;
}

.p-5{
    padding: 5px !important;
}

.w-50{
    width: 50px;
}

.w-50p{
    width: 50%;
}

.w-100{
    width: 100px;
}

.w-150{
    width: 150px;
}

.w-100p{
    width: 100%;
}

.w-200{
    width: 200px;
}

.w-300{
    width: 300px;
}

.h-100p{
    height: 100%;
}

.h-100{
    height: 100px;
}

.h-17{
    height: 17px;
}

.h-34{
    height: 34px;
}

.margin-auto{
    margin: auto;
}

.no-border{
    border: 0px;
}

.color-black{
    color: #000 !important;
}

.m-r-10{
    margin-right: 10px;
}

.m-r-16{
    margin-right: 16px;
}

.m-l-5{
    margin-left: 5px;
}

.m-l-10{
    margin-left: 10px;
}

.m-l-20{
    margin-left: 20px;
}

.m-b-10{
    margin-bottom: 10px;
}