body{
    background-color: #fff;
    font-size: 12px;
}

.mandatory{
    color: red;
}

#wrapper{
    background-color: #40485a;
}

.login-panel{
    border : 2px solid #2f4050;
    margin-top: 0%;
}
.opsbutton{
    background-color: #1ab394 !important;
    color : #fff !important;
}
.nav-top{
    margin-top: -57px;
}

.fa-flyrobe:before{
    content: url('../img/ops-dashboard.png') !important;
}

.fa-cc:before{
    content: url('../img/cc.png') !important;
}

.fa-refresh:before{
    content: url('../img/refresh.png') !important;
}

.navigation-a{
    padding: 4px !important;
    padding-left: 14px !important;
}

.nav_header{
    background: #293846;
}

.navlist > li {
    border-left: 4px solid transparent;
    height: 50px;
}

.navlist > li > a {
    height: 50px;
}

.navlist > li > a > div{
    margin-top: -30px;
    margin-left: 51px;
}

.navlist > li.active {
    border-left: 4px solid #ed6655;
    background: #626671;
    height: 100%;
}

.navlist > li:hover {
    border-left: 4px solid #ed6655;
    background: #626671 !important;
    height: 100% !important;
}

.navlist > li > a.active, .navlist > li > a:hover {
    background: transparent !important;
}

.minimize{
    width: 50%;
}

.minimize > span > a{
    background: transparent;
    border: 0px;
    color: #404858;
    font-size: 20px;
}

#navbar {
    background-color: #fff;
}

.main-nav-div{
    margin-bottom: 10px;
}

.page-nav > li > a {
    color: #000;
}

.mini-navbar li.active .nav-second-level, li:hover > .nav-second-level {
    width: 168px !important;
}

.datepicker-for-address{
    margin-bottom: 15px;
}

.datepicker > div{
    margin-top: 32px;
}

/* CC */
.history > a{
    border-bottom: 2px solid #23c6c8;
}

.fa-home, .fa-fighter-jet{
    font-size: 40px;
    color: #fff;
}

.signList{
    font-size: 24px;
    margin-top: 8px;
}

/* tooltip */
.tooltip-cc1, .tooltip-cc2, .tooltip-cc3,
.tooltip-om1, .tooltip-om2, .tooltip-om3,
.tooltip-esc1, .tooltip-esc2, .tooltip-esc3, .tooltip-esc4{
    position: relative;
    display: inline-block;
}

.tooltip-cc1 .tooltiptext, .tooltip-cc2 .tooltiptext, .tooltip-cc3 .tooltiptext,
.tooltip-om1 .tooltiptext, .tooltip-om2 .tooltiptext, .tooltip-om3 .tooltiptext,
.tooltip-esc1 .tooltiptext, .tooltip-esc2 .tooltiptext, .tooltip-esc3 .tooltiptext, .tooltip-esc4 .tooltiptext{
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    top: 47%;
    left: 6%;
    z-index: 1;
}

.tooltip-cc1:hover .tooltiptext, .tooltip-cc2:hover .tooltiptext, .tooltip-cc3:hover .tooltiptext,
.tooltip-om1:hover .tooltiptext, .tooltip-om2:hover .tooltiptext, .tooltip-om3:hover .tooltiptext,
.tooltip-esc1:hover .tooltiptext, .tooltip-esc2:hover .tooltiptext, .tooltip-esc3:hover .tooltiptext, .tooltip-esc4:hover .tooltiptext{
    visibility: visible;
}

.tooltip-wts-included{
    position: relative;
    display: inline-block;
}

.tooltip-wts-included .tooltiptext{
    visibility: hidden;
    width: 100%;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    top: 100%;
    left: 6%;
    z-index: 1;
    word-break: break-all;
}
.tooltip-wts-included:hover .tooltiptext{
     visibility: visible;
 }

.input-search-div{
    height: 50px;
}

.input-search{
    margin: 5px 5px;
    width: 95%;
}

.mainTable{
    overflow-y:scroll;
    max-height:500px;
    display:block;
}

.pop-up-table{
    overflow-y:scroll;
    max-height:250px;
    display:block;
}

.progress{
    border-radius: 0px;
}

.steps {
    position: relative;
    display: block;
    /*width: 100%;*/
}

.steps ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
.steps > ul > li {
    float: left;
    padding: 0;
    padding-right: 10px;
}

.progress-mini, .progress-mini .progress-bar {
    height: 12px;
}

.swal-wide{
    width: auto !important;
    left: 40% !important;
    right: 20% !important;
}

.swal-refund{
    width: 600px !important;
    left: 48% !important;
    right: 20% !important;
}

.swal-textareawide{
    width:400px !important;
}

.custom-cursor{
    cursor: pointer;
}

.custom-cursor-bg{
    cursor: pointer;
    background: transparent !important;
}

.select2-search-field input{
    width: 100% !important;
}

.date-input-with-calender{
    background-color: #fff !important;
    background-image: url(../img/calender.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100% 0px !important;
    background-size: 32px !important;
}


/************ Parsley *****************/

.ng-error{
    color:#f05050;
    font-size:12px
}

.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
    right: 0;
    left: auto;
    top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
    top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
    top: 36px;
}

.parsley-error {
    border-color: #f05050 !important;
}
.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}
.parsley-errors-list.filled {
    display: block;
}
.parsley-errors-list > li {
    text-align: left;
    font-size: 12px;
    list-style: none;
    color: #f05050;
}
.ptb-1{
    padding-top: 1px;
    padding-bottom: 1px;
}
.pl-0{
    padding-left: 0px;
}
.pr-0{
    padding-right: 0px;
}
.pr-2{
    padding-right: 2px;
}
.flr{
    text-align: end;
}
.glyphicon{
    /*top:-13px !important;*/
}
.bname{
    height:20px;
    overflow: hidden;
}

.mini-navbar .nav-second-level {
    left: 65px;
}

.ui-select-readonly{
    min-height: 34px !important;
}

.inbound-table-img{
    width: 60px;
    max-height: 200px;
}

.navbar-item{
    padding-left: 0px !important;
}

.ibox-title h5 {
    font-size: 12px;
}

.form-control, .single-line, .btn {
    font-size: 12px;
}

.table-image-col{
    width:100px!important;
    min-width: 100px!important;
}

.table-order-date-col{
    min-width: 41px!important;
}

.ibox-title{
    min-height: 40px;
}

.ibox-title h5{
    margin: 0;
}

.normalFont{
    font-weight: normal;
}

.store-fulfilled-row{
    background: rgba(77, 218, 97, 0.77) !important;
    color: #242a90;
}

.delayed-row{
    background: #fcc !important;
    color: #900;
}

.selected {
    color: #2f4050;
    background-color: #ffc78e !important;
}

.topnav-btn{
    margin-top: 7px;
}

.comment-box-left{
    width: 76%;
}

.comment-box-right{
    width: 20%;
}

.send-msg-left{
    width: 76%;
    background-color: #f9f9f9;
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.snd-msg-right{
    width: 20%;
}

.top-navbar-state{
    margin-top: 22px;
}

.top-navbar-email{
    /*margin-top: 22px;*/
    color: #1ab394;
}

.comment-textarea{
    width: 100%;
    max-width: 100%;
}

.comment-btn{
    height: 48px;
}

.address-textarea{
    max-width: 100%;
}

.coupon-table > thead > tr > th, .coupon-table > tbody > tr > td{
    text-align: center;
}

.italic-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic !important;
}
.italic-placeholder::-moz-placeholder { /* Firefox 19+ */
    font-style: italic !important;
}
.italic-placeholder:-ms-input-placeholder { /* IE 10+ */
    font-style: italic !important;
}
.italic-placeholder:-moz-placeholder { /* Firefox 18- */
    font-style: italic !important;
}

.ui-grid-viewport{
    max-width: 100% !important;
}


.home-label{
    float: left;
    width: 50%;
    font-size: 15px;
}

.home-value{
    float: left;
    width: 50%;
    font-size: 15px;
}

.export-btn, .export-btn:hover, .export-btn:visited, .export-btn:active, .export-btn:focus {
    background: #40485a !important;
    color: #fff !important;
}

.ui-grid-active-row .ui-grid-cell{
    background-color: #ffc78e !important;
}

.item-table{
    overflow-x:scroll;
    min-width: 100%;
    display:block;
}

.table-img{
    width: 60px;
    max-height: 200px;
}

.ngDialog-img{
    max-width: 350px;
}

.home-textarea{
    max-width: 100%;
    max-height: 100px;
}


@media print{
    .non-print{
        visibility: hidden;
        display: none;
    }
}