.hcl-get-btn{
    margin-left: 20px;
    margin-top: 20px;
    height: 35px;
    background-color: #40485a !important;
    color : #fff;
}

.hcl-get-btn:hover, .hcl-get-btn:visited, .hcl-get-btn:active, .hcl-get-btn:focus{
    background-color: #40485a !important;
    color : #fff !important;
}