.nf-box{
    border: 2px solid #ccc;
    border-radius: 2px;
}

.non-filler-main-head{
    text-transform: uppercase;
    cursor: pointer;
}

.nf-add-btn{
    margin-top: 21px;
}

.nf-old-order-div, .nf-new-order-div{
    flex: 1;
    margin: 26px;
}

.nf-old-order-div > .ibox, .nf-new-order-div > .ibox{
    margin: 0px;
}

.nf-order-desc{
    max-height: 355px;
    min-height: 200px;
    margin-top: 20px;
    overflow-y: scroll;
}

.nf-hr{
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nf-brand{
    color : #626262;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.nf-short-desc{
    /*font-family: Playfair Display Italic2!important;*/
    letter-spacing: 1px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nf-order-head{
    color: #95969e;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nf-order-text{
    color : #626262
}

.nf-cross{
    background-image: url(https://ik.imagekit.io/flyrobe/sprite-main_rkmTIdgDb.png);
    transform: scale(.5);
    width: 36px;
    height: 36px;
    background-position: -5px -217px;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.nf-coupon-field{
    border: 0px;
    border-bottom: 1px solid #c8c9cc;
    background: transparent !important;
    padding: 5px 5px 5px 0px !important;
}

.nf-address-div{
    padding: 0px;
    margin: 16px 0px;
}

.nf-add-head{
    padding: 17px 17px 10px 17px;
    height: 44px;
}

.nf-add-address{
    padding: 0px 17px 10px 17px;
    height: 72px;
}

.nf-add-edit-btn{
    width:50%;
    color: #1d2538;
    float: left;
    height: 52px;
    text-align: center;
    letter-spacing: 2.3px;
    padding-top: 14px;
    font-size: 14px;
}

.nf-add-select-btn{
    width:50%;
    background-color: #1d2538;
    color : #fff;
    text-align: center;
    letter-spacing: 2.3px;
    padding-top: 14px;
    font-size: 14px;
    float: left;
    height: 52px;
}

.nf-old-add-div{
    min-height: 187px;
    max-height: 380px;
    overflow-y: scroll;
}

.nf-address-main-div{
    margin: 0px 26px;
}

.ng-update-add-main-div{
    width: 400px;
    margin: auto;
}

.nf-add-form{
    margin: 50px;
}

.nf-add-label{
    height: 13px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 1px;
    color: #6a6e78;
}

.nf-add-input-field{
    border: 0px;
    border-bottom: 1px solid #c8c9cc;
    background: transparent !important;
    padding: 5px 5px 5px 0px !important;
    width:300px;
    min-height: 34px;
    max-width:300px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: 0.6px;
    color: #282c3c;
}

.nf-add-context{
    text-decoration: underline;
    cursor: pointer;
    font-family: AvenirNextLTPro-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
}

.nf-selected-address{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.4px;
    color: #6a6e78;
    margin-top: -23px;
    margin-bottom: 19px;
}

.nf-settle-btn, .nf-settle-btn:hover{
    width: 160px;
    background-color: #1d2538;
    color: #fff;
    height: 52px;
}

.nf-link, .nf-link:hover{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.4px;
    color: #6a6e78;
    margin-top: 23px;
    margin-bottom: 19px
}

.nf-cust-details-div{
    font-size: 14px;
}