.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-left-20 {
    margin-left: 20px;
}

.create-ticket {
    border-radius: 4px;
    background-color: #ed5440;
    width: 74px;
    height: 27px;
    margin-top: 0px;
}

.on-Going-Ticket {
    text-align: center;
    border: 0px;
    margin-top: 0px;
}

.order-tabel {
    width: 100%;
    height: 60px;
    background-color: #f7f7f7
}

.ticketHeight {
    height: 67px;

}

.update {
    width: 60px;
    height: 24px;
    border: solid 1px #e8e9eb;
    border-radius: 4px;
    background-color: #334080;
}

.color-1C1F2A {
    background-color: #1c1f2a;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-right-0 {
    padding-right: 0px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.invoice-id {
    font-family: AvenirNextLTPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}

.panel-heading1 {
    margin-top: -2px;
}

.container-head-label {
    padding: 15px;
}

.profile {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e8e9eb;
    height: 52px;

}

.button {
    width: 185px;
    height: 36px;
    border-radius: 0px !important;
    background-color: #ed5440;
    border: 0px;
}

.border-bottom-0 {
    border-bottom-width: 0px;
    margin-bottom: 0px
}

.orderIDLabel {
    font-family: AvenirNextLTPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}

.olabel {
    width: 37px;
    height: 16px;
    font-family: AvenirNextLTPro;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b9bbc0;
}

.plabel {
    font-family: AvenirNextLTPro;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #252a38;
}

.order {
    margin-bottom: 0px;
    height: 52px
}

.ticketTabel {
    border-radius: 4px;
    background-color: #e3e4e6;
    margin-bottom: 0px;
}

.user-Info {
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 0px;
}

.color-black {
    background-color: #1c1f2a
}

.pading-top-20 {
    padding-top: 20px;
    padding-bottom: 0px
}

.track-order-fsm {
    border-bottom: 1px solid lightgrey;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.color-white {
    color: white
}

.active, .accordion:hover {
    background-color: #ccc;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border: 0px;
}

.moreButton {
    margin-top: 5px;
    left: 40%;
    position: relative;
}

.showMore {
    margin-left: 600px
}

.createTicketButton {
    margin-top: 5px;
    margin-left: 1000px;
}

.orderLabel {
    height: 16px;
    font-family: AvenirNextLTPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}

.orderl {
    width: 80px;
    height: 16px;
    font-family: AvenirNextLTPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}

.foterId {
    margin-left: 15px;
    margin-right: 15px;
}

.footerDiv {
    width: 100%;
    height: 80px;
    border-radius: 4px;
    background-color: #1c1f2a;
}

.itemdiv {
    width: 100%;
    height: 1px;
    background-color: #e3e4e6;

}

.itemTable {
    width: 100%;
    height: 60px;
    background-color: white;
}

.itemLabel {
    width: 55px;
    height: 19px;
    font-family: AvenirNextLTPro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #252a38;
    margin-top: 20px;
}

.inputUpdate {
    width: 60px;
    height: 24px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e8e9eb;

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    right: 0px;
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.updateButtonchnage {
    width: 60px;
    height: 24px;
    border-radius: 4px;
    background-color: #334080;
}

.track-order {
    /* width: 95%; */
    height: auto;
    background-color: #eee;
    /* right: -3px; */
    padding: 0px 10px;
    z-index: 1000;
}

.track-order-label {

    width: 108px;
    height: 18px;
    font-family: AvenirNextLTPro-Demi;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #252a38;
    margin-top: 10px;
    margin-left: 10px;

}

.order-id {
    height: 18px;
    font-family: AvenirNextLTPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #252a38;
}

.order-id-op {
    width: 147px;
    height: 24px;
    font-family: AvenirNextLTPro-Demi;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #4a90e2;
    margin-bottom: 30px;
    margin-left: 10px;

}

.time-stamp {

    width: 70px;

}

.status-text {
    width: 64px;
    height: 14px;
    font-family: AvenirNextLTPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #252a38;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pcs:after {
    content: " pcs";
}

.cur:before {
    content: "$";
}

.per:after {
    content: "%";
}

* {
    box-sizing: border-box;
}

body {
    padding: .2em 2em;
}

table {
    width: 100%;
}

table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th, table td {
    padding: .4em;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
    cursor: pointer;
}

table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
    position: relative;
    padding-left: 20px;
}

table.fold-table > tbody > tr.view td:first-child:before,
table.fold-table > tbody > tr.view th:first-child:before {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 9px;
    height: 16px;
    margin-top: -8px;
    font: 16px fontawesome;
    color: #999;
    content: "\f0d7";
    transition: all .3s ease;
}

.all-order {
    width: 50%;
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 20px;
}

table.fold-table > tbody > tr.view:nth-child(4n-1) {
    background: #eee;
}

table.fold-table > tbody > tr.view:hover {
    background: #000;
}

table.fold-table > tbody > tr.view.open {
    background: tomato;
    color: white;
}

table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
    transform: rotate(-180deg);
    color: #333;
}

table.fold-table > tbody > tr.fold {
    display: none;
}

table.fold-table > tbody > tr.fold.open {
    display: table-row;
}

.fold-content {
    padding: .5em;
}

.fold-content h3 {
    margin-top: 0;
}

.fold-content > table {
    border: 2px solid #ccc;
}

.fold-content > table > tbody tr:nth-child(even) {
    background: #eee;
}

.menuacco .accordion-heading {
    position: relative;
}

.menuacco .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}

.menuacco .collapse.in {
    overflow: visible;
}

.rowlist {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.rowlistheader {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F6F6F6;
    font-weight: bold;
    margin: 2px;
}

.rowplaceholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 40px;
}

.overlay1 {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel-heading1 .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    color: grey; /* adjust as needed */
}

.panel-heading1 .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.panel-heading2 .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading2 .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.sidenav {

    position: fixed;
    z-index: 1000;
    width: 0px;
    height: 100%;
    top: 80px;
    right: 50px;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 0px;
}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

.md-transition {
    width: 1000px;
    height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.col-lg-10 {
    padding-bottom: 6px;
    border-top-width: 6px;
}

.module-container {
    width: 1040px;
    height: 436px;
}

.menuacco .accordion-heading {
    position: relative;
}

.menuacco .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}

.menuacco .collapse.in {
    overflow: visible;
}

.rowlist {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.margin-top-0 {
    margin-top: 0px;
}

.rowlistheader {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F6F6F6;
    font-weight: bold;
    margin: 2px;
}

.rowplaceholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 40px;
}

.text-decorate-white {
    text-decoration-color: white
}

.name {
    padding-bottom: 4px;
    padding-top: 20px;
    border-top-width: 20px;
}

.padding-top-15 {
    padding-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.marrgin-top-60 {
    margin-top: 60px;
}

.add-comment {
    margin-left: 20px;
    margin-bottom: 10px;
}

.margin-bottom {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #337ab7
}

.margin-lef-30 {
    margin-left: 30px;
}

.width-180 {
    width: 180px;
}

.padding-right-20 {
    padding-right: 20px;
}

.height-40 {
    height: 40px;
}

.left-70 {
    left: 70px;
}

.margin-all {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.height-40 {
    height: 40px;
}

.margin-left-20 {
    margin-left: 20px;
}

.width-740 {
    width: 740px;
    height: 736px;
}

.text-center {
    text-align: center
}

.margin-left-50 {
    margin-left: 50%;
}

.text-align-center {
    text-align: center;
    margin-top: 20px;
}

.width-100 {
    width: 100px;
}

.width-50 {
    width: 126px;
    height: 34px;
    left: 50%;
}

.text-center {
    text-align: center
}

.margin-top-10 {
    margin-top: 10px;
}

.width-740 {
    width: 740px;
    height: 736px;
}

.padding-top-0 {
    padding-top: 0px;
}

.margin-20 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.margin1-20-0 {
    margin-top: 20px;
}

.bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-60 {

    margin-top: 60px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

body {
    overflow-x: visible;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

.comment-button {
    margin-top: 20px;
    border-radius: 0px !important;
    background-color: #ed5440;
    border: 0px;
    width: 100px;
    height: 30px;
}

.comment1 {
    width: 74px;
    height: 27px;
    margin-top: 30px;
}

.jumbotron1 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}

.margin-bottom-0 {

    margin-bottom: 0px;
}

.color-red {
    color: red;
}

.padding-0 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

}

.margin-left-right-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.margin-left-0 {
    margin-left: 0px
}

.height-min-max {
    height: auto;
}

.ov-msr-box{
    min-height: 630px !important;
}

.ov-msr-value-div{
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #e5e6e7;
    font-size: 12px;
}

@media screen and (max-height: 200px) {
    .height-min-max {
        height: 99vh; /*Set this with trial and error because it depends on your margins*/
    }
}

@media screen and (max-height: 100px) {
    .height-min-max {
        height: 100px;
    }
}

.font-size {
    font-size: 14px;
}

.padding-left-15 {
    padding-left: 15px;
}

.float-right {
    float: right;
}