.pend-btn, .pend-btn:hover, .pend-btn:visited, .pend-btn:active, .pend-btn:focus{
    background: #40485a !important;
    color: #fff !important;
}

.react-status-div{
    margin-left: 13px;
    margin-bottom: 10px;
}

.react-status-btn, .react-status-btn:hover, .react-status-btn:visited, .react-status-btn:active, .react-status-btn:focus{
    background: #40485a !important;
    color: #fff !important;
    height: 34px;
}