.pick-print-heading{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-right: 2px solid #000;
}

.pl-print-border{
    border: 2px solid #000;
}

.pick-list-details{
    border-left: 2px solid #000;
}

.pick-btn, .pick-btn:hover, .pick-btn:visited, .pick-btn:active, .pick-btn:focus{
    background: #40485a !important;
    color: #fff !important;
}