/*
start of SWITCHES
*/
.startEndSwitch {
    position: relative;
    width: 54px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.startEndSwitch-checkbox {
    display: none;
}
.startEndSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1AB394;
    border-radius: 3px;
}
.startEndSwitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.startEndSwitch-inner:before,
.startEndSwitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 10px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.startEndSwitch-inner:before {
    content: "End";
    padding-left: 7px;
    background-color: #1AB394;
    color: #FFFFFF;
}
.startEndSwitch-inner:after {
    content: "Start";
    padding-right: 7px;
    background-color: #FFFFFF;
    color: #919191;
    text-align: right;
}
.startEndSwitch-switch {
    display: block;
    width: 18px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #1AB394;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.startEndSwitch-checkbox:checked + .startEndSwitch-label .startEndSwitch-inner {
    margin-left: 0;
}

.startEndSwitch-checkbox:checked + .startEndSwitch-label .startEndSwitch-switch {
    right: 0;
}

.startEndSwitch{
    float: right;
    margin-top: 4px;
}

.audit-label{
    margin-right: 15px;
}

/* end of SWITCHES */

.put-away-label-li{
    margin-left: 5px;
    margin-top: 20px;
}

.put-bin-location-ui, .put-wid-li{
    margin-left: 13px;
    margin-top: 12px;
}