.get-data-btn{
    background-color: #40485a !important;
    color: #fff !important;
    margin-left: 20px;
    margin-top: 22px;
    height: 34px;
}

.qc-btn{
    background-color: #40485a !important;
}

.qc-small-text{
    font-size: 9px;
    height: 12px;
}

.qc-active-bg{
    background-color: #541a03;
}

.qc-breadcramb{
    width: 19%;
    float: left;
    border: 2px solid #40485a;
    background: #fff;
    margin: 5px;
    color: #fff;
    color: #40485a;
    height: 60px !important;
    border-radius: 2px;
    padding: 5px 5px 7px 5px;
}

.qc-missed-btn{
    background: #fff;
    color: #000;
    border-radius: 2px;
    font-size: 10px;
    padding: 3px;
    margin-top: 7px;
    border: 1px solid #40485a;
}

.qc-sub-heading{
    font-size: 9px;
    margin-top: 10px;
}

.qc-active-breadcramb{
    background: #40485a;
    border: 2px solid #fff;
    color: #fff;
}

.qc-click-msg{
    margin-left: 9px;font-size: 10px;
}