.rl-nav-ui-select{
    width: 175px;
    margin-right: 10px;
}

.rl-get-data-btn{
    margin-top: 22px;
    height: 34px;
}

.rf-dis-input{
    margin-left: 20px;
    width: 200px;
}

.sa-button-container .cancel{
    tab-index: 1 !important;
    width: 90px;
}

.refund-send-email-btn{
    width: 50px;
    height: 30px;
    float: right;
}