<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="consignmentCtrl as con">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="con.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="con.spinners">

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">

                    <button class="btn pull-right export-btn m-b-10" ng-if="con.gridOptionsComplex.data.length"
                            ng-csv="con.exportToCsv()" csv-header="con.csv_header"
                            filename="{{'consignment_' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                        Export to CSV
                    </button>

                    <div style="clear: both;"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="grid common-grid" ng-if="con.gridOptionsComplex.data.length"
                                 ui-grid="con.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                 ui-grid-pagination></div>
                        </div>
                    </div>


                    <div class="row" ng-if="con.gridOptionsComplex.data.length == 0">
                        <div class="col-lg-12">
                            <h3 class="text-red text-center">No Data Available</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6" ng-if="con.show_rhs">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12 text-center">
                            <h3>Package Number({{con.rhs_data.id}})</h3>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="col-lg-12">
                            <h4 class="">Selected Items</h4>
                            <div>
                                <span ng-repeat="item in con.selected_items track by $index">
                                    {{item.id}}<span ng-if="!$last">, </span>
                                </span>
                            </div>
                            <br>

                            <div>

                                <button class="btn export-btn m-b-10" ng-disabled="con.selected_items.length <= 0"
                                    ng-click="con.updateStatus('RCD')">
                                    Mark Received
                                </button>

                                <button class="btn export-btn m-b-10 m-l-10" ng-disabled="con.selected_items.length <= 0"
                                        ng-click="con.updateStatus('SOLD')">
                                    Mark Sold Out
                                </button>

                                <button class="btn export-btn m-b-10" ng-disabled="con.selected_items.length <= 0"
                                        ng-click="con.updateStatus('NRCD')">
                                    Mark Not Received
                                </button>

                            </div>
                            <br>

                            <table datatable="ng" dt-options="con.dtOptions"
                                   class="table table-striped table-bordered table-hover dataTables-example item-table">
                                <thead>
                                <tr>
                                    <th ng-click="con.selectItem(con.rhs_data.items_info,'all')">
                                        <div class="checkbox c-checkbox needsclick">
                                            <label class="needsclick">
                                                <i class="fa fa-square-o" ng-if="!con.checked"></i>
                                                <i class="fa fa-check-square-o" ng-if="con.checked"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th>Image</th>
                                    <th>Size</th>
                                    <th>Category</th>
                                    <th>Cost</th>
                                    <th>Package State</th>
                                    <th>Item Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in con.rhs_data.items_info">
                                    <td>
                                        <div class="checkbox c-checkbox needsclick"
                                             ng-if="data.status != 'SOT' || data.consignment_state != 'NRCD'"
                                             ng-click="con.selectItem(data,'single')">
                                            <label class="needsclick">
                                                <i class="fa fa-square-o" ng-if="!data.checked"></i>
                                                <i class="fa fa-check-square-o" ng-if="data.checked"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="data.style_info.image_front">
                                            <img ng-if="data.style_info.image_front.indexOf('http') < 0" class="table-img"
                                                 ng-src="{{main.urlList.imagekit_url + data.style_info.image_front}}"
                                                 ng-click="con.openModalForImage(main.urlList.imagekit_url + data.style_info.image_front)">
                                            <img ng-if="data.style_info.image_front.indexOf('http') >= 0" class="table-img"
                                                 ng-src="{{data.style_info.image_front}}"
                                                 ng-click="con.openModalForImage(data.style_info.image_front)">
                                        </div>
                                        {{data.item_code}}
                                    </td>
                                    <td>{{data.size}}</td>
                                    <td>{{data.style_info.category}}</td>
                                    <td>{{data.style_info.price}}</td>
                                    <td>{{data.consignment_state | consignmentState}}</td>
                                    <td>{{data.status | itemStatus}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{con.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>

</div>