<!--
************* Created by Surbhi Goel **************
-->

<div ng-controller="loginCtrl as login" class="middle-box text-center loginscreen  animated fadeInDown">

    <div>
        <h1 class="logo-name">
            <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
        </h1>
    </div>

    <div class="panel panel-dark panel-flat login-panel">

        <div class="panel-heading text-center">
            <h3>FLYROBE HOST SYSTEM</h3>
        </div>

        <div class="panel-body" ng-if="!login.otp_screen">

            <form class="m-t" validate-form="" novalidate="" role="form" name="loginForm" ng-submit="login.sendOTP()">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" ng-model="login.account.phone"
                           required="required" ng-readonly="login.spinners" positive-integer>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b"
                        ng-hide="login.spinners">
                    Send OTP
                </button>

                <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.spinners">
                    <div class="sk-dot1"></div>
                    <div class="sk-dot2"></div>
                </div>

            </form>

            <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>

        </div>

        <div class="panel-body" ng-if="login.otp_screen">
            <form class="m-t" validate-form="" novalidate="" role="form" name="loginForm"
                  ng-submit="login.loginToDashboard()">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="OTP" ng-model="login.account.otp"
                           required="required" ng-readonly="login.spinners" positive-integer>
                </div>

                <button type="submit" class="btn btn-primary m-b full-width"
                        ng-hide="login.spinners">
                    LOGIN
                </button>

                <a ng-click="login.callSendOTPApi()">Re-send OTP</a>

                <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.spinners">
                    <div class="sk-dot1"></div>
                    <div class="sk-dot2"></div>
                </div>

            </form>

            <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>

        </div>

        </div>

    </div>

</div>