<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="homeCtrl as hm">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="hm.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="hm.spinners">

        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12">

                            <button class="btn export-btn m-b-10 pull-right"
                                    ng-click="hm.openModalToCreateRequest()">
                                + Request New Stock
                            </button>

                            <div style="clear: both;"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label"> User Name</label>
                            <div class="home-value">{{hm.vendor_details.user_name}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">First Name</label>
                            <div class="home-value">{{hm.vendor_details.first_name}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Last Name</label>
                            <div class="home-value">{{hm.vendor_details.last_name}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Email</label>
                            <div class="home-value">{{hm.vendor_details.email}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Phone Number</label>
                            <div class="home-value">{{hm.vendor_details.phone_number}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Gst Details</label>
                            <div class="home-value">{{hm.vendor_details.gst_details}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Confirmed Date</label>
                            <div class="home-value">{{hm.vendor_details.confirmed_date}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Address</label>
                            <div class="home-value">{{hm.vendor_details.address}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">City</label>
                            <div class="home-value">{{hm.vendor_details.city}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Recived Items</label>
                            <div class="home-value">{{hm.vendor_details.received_items.length}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Sold Items</label>
                            <div class="home-value">{{hm.vendor_details.sold_items.length}}</div>

                            <div style="clear: both"></div>

                        </div>

                        <div class="col-lg-12">

                            <label class="home-label">Value Of Sold Items</label>
                            <div class="home-value">{{hm.vendor_details.sold_value}}</div>

                            <div style="clear: both"></div>

                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Modal to create request for new stock -->
    <script type="text/ng-template" id="newStockRequestModal">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="hm.createNewStockRequest()">

                        <div class="form-group has-feedback col-lg-12 input-div">
                            <label>No. Of Pieces</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter No. Of Pieces"
                                   ng-model="hm.send_data.no_of_pieces" required="required" positive-integer>
                        </div>

                        <div class="form-group has-feedback col-lg-12 input-div">
                            <label>Special Instructions</label> <span class="mandatory">*</span>
                            <textarea type="text" class="form-control home-textarea" placeholder="Enter Special Instructions"
                                   ng-model="hm.send_data.special_instr" required="required"></textarea>
                        </div>

                        <div class="col-lg-12">

                            <div class="form-group text-center">
                                <button type="submit" class="btn export-btn m-b m-t-10">
                                    Create Request
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>


        </div>
    </script>
    
</div>