<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu navlist" id="side-menu">

            <li class="nav_header" ui-sref-active="active">
                <a class="navigation-a">
                    <i class="fa fa-flyrobe"></i>
                    <div class="nav-label">{{ 'AMAZON'}}</div>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="flyrobe.home" class="navigation-a">
                    <i class="fa fa-home"></i>
                    <div class="nav-label">{{ 'Home'}}</div>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="flyrobe.consignment" class="navigation-a">
                    <i class="fa fa-fighter-jet"></i>
                    <div class="nav-label">{{ 'Package'}}</div>
                </a>
            </li>

        </ul>
    </div>
</nav>