<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div style="text-align: center;height: 57px;">
            <a title="Refresh">
                <span class="fa fa-refresh" ng-click="$state.reload()"></span>
            </a>
        </div>

        <div class="navbar-header nav-top minimize">
            <span minimaliza-sidebar></span> <h3 class="top-navbar-state">{{main.flyrobeState}}</h3>
        </div>
        <ul class="nav navbar-top-links navbar-right nav-top">
            <li uib-dropdown>
                <a href uib-dropdown-toggle  class="top-navbar-email">
                    {{main.user_name}}
                    <span class="caret"></span>
                </a>
                <ul role="menu" uib-dropdown-menu>
                    <li>
                        <a ng-click="main.logout()">
                            Log out
                        </a>
                    </li>
                    <!--<li>
                        <a ng-click="main.logoutFromOtherDevices()">
                            Log out From  Other Devices
                        </a>
                    </li>-->
                </ul>
            </li>
        </ul>

    </nav>
</div>